<app-home></app-home>

<div class="container">

    <button class="backToJDBtn" mat-stroked-button color="accent" (click)="backToList()">Back to JDs</button>

    <h2> Candidates List </h2>

    <mat-form-field>
        <input (keyup)="applyFilter($event)" matInput placeholder="Filter" />
    </mat-form-field>
    
    
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element["Email Address"]}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element["NAME"]}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element['Contact Number']}} </td>
        </ng-container>
        
        <ng-container matColumnDef="skills">
            <th mat-header-cell *matHeaderCellDef > Skills </th>
            <td mat-cell *matCellDef="let element"> {{element["SKILLS"]}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr *matNoDataRow>
            <td class="mat-cell" colspan="4">
                The filter does not match any item in the data for query.
            </td>
        </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[2,5,10,50]"></mat-paginator>

</div>