<app-home></app-home>
<div class="container">

<div class="row">
  <div col="col-md-6">
      <form class="center">
          <div class="form-group">
              <input type="text" (change)="getTheInput(name)" /><br/>
          </div>
          <div class="form-group">
              <input  type="file" name="profile" multiple (change)="getTheFile($event)"/>
          </div>
          <div class="form-group">
              <button mat-flat-button color="primary" type="submit" class="btn btn-success" (click)="onSubmit()">Upload</button>
          </div>
          <!-- <div class="form-group">
              <button mat-flat-button color="secondary" type="submit" class="btn btn-success" (click)="onRefresh()" 
              style="margin-left: 10px;" >Refresh</button> 
          </div> -->
      </form>
  </div>
</div>

<mat-form-field>
  <input (keyup)="applyFilter($event)" matInput placeholder="Filter" />
</mat-form-field>



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="match">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let element" (click)="onMatch()"> <button mat-stroked-button color="accent">Match</button> </td>
  </ng-container>

  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element["name"]}} </td>
  </ng-container>
  
  <ng-container matColumnDef="jobDescription">
      <th class="xyz" mat-header-cell *matHeaderCellDef mat-sort-header> Job Description </th>
      <td mat-cell *matCellDef="let element"> {{element["skills"]}} </td>
  </ng-container>
  
  <ng-container matColumnDef="filename" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename </th>
      <td mat-cell *matCellDef="let element"> {{element["FileName"]}} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr *matNoDataRow>
      <td class="mat-cell" colspan="4">
          The filter does not match any item in the data for query.
      </td>
  </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[2,5,10,50]"></mat-paginator>

<!-- <div class="row">
  <div col="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:15%"> Name </th>
          <th style="width:80%"> Job Description </th>
          <th style="width: 5%"> Filename </th>
          <th style="width:5%"> Action </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of elements">
          <td>{{ element.name }}</td>
          <td>{{ element.skills }}</td>
          <td>{{ element.FileName}}</td>
          <td><button (click)="onMatch()">Match</button></td>
          <td><mat-icon>edit</mat-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->


<!--<div style="margin-bottom: 30px; text-align: center;">
    <input class="ng-hide" id="input-file-id" multiple type="file" />
    <button mat-flat-button color="primary" type="submit">Upload a JD</button>
</div> -->
